/* media query variables */
body, html {
  height: 100%;
  width: 100%;
  font-family: "Gesta", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

img {
  width: 100%;
}

/* navigation section */
.nav {
  background-color: black;
  height: 100px;
  width: 100%;
}

.nav-container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-family: "Gesta";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.6;
}

.nav-menu a {
  display: block;
  padding: 0 1em;
  color: white;
}

.nav-menu a:hover {
  color: #f6e8c6;
}

.nav-menu #highlight {
  color: #f6e8c6;
}

/* hero section */
.hero-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/Hero.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/Hero.png");
  height: 90%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .hero-content h4 {
    font-size: 18px;
    letter-spacing: 4px;
  }
  .hero-content h1 {
    font-size: 36px;
    letter-spacing: 8px;
  }
  .hero-content h5 {
    font-size: 14px;
  }
  .hero-content #display {
    font-size: 40px;
  }
  .hero-content .personal-statement {
    width: 400px;
    margin-top: 100px;
    line-height: 24px;
  }
  .hero-content h3 {
    font-size: 14px;
  }
}

.personal-statement {
  font-size: 16px;
  margin: 40px;
  line-height: 32px;
}

/* portfolio section */
.portfolio-container {
  width: 80%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .second-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.portfolio-item:first-child {
  margin-top: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 5rem;
}

.portfolio-img:first-child {
  margin-right: 5rem;
}

@media screen and (max-width: 600px) {
  .portfolio-img:first-child {
    margin-right: 0rem;
  }
}

.portfolio-img:last-child {
  margin-right: 5rem;
}

@media screen and (max-width: 600px) {
  .portfolio-img:last-child {
    margin-right: 0rem;
  }
}

.portfolio-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.portfolio-description {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

/* about section */
.about {
  padding: 5rem;
}

.about-container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 5rem;
}

.bio h1 {
  font-size: 60px;
  margin: 0px;
}

@media screen and (max-width: 600px) {
  .bio h1 {
    font-size: 40px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 600px) {
  .bio {
    text-align: center;
    margin-top: 3rem;
    margin-right: 0rem;
  }
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo .headshot {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding: 20px;
}

/* skills section */
.skills {
  background-color: #FBF6E8;
  text-align: center;
  padding: 20px 40px;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .skills-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem;
  width: 300px;
}

.icon-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.skills-icon {
  height: 50px;
  width: 50px;
  position: relative;
  left: 15%;
  top: 20%;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  .skills-icon {
    position: relative;
    left: 8%;
    top: 10%;
  }
}

.pink-circle {
  height: 50px;
  width: 50px;
}

.skills-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* things i love section */
.things-i-love {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 20px 40px;
  text-align: center;
}

#upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 60px;
}

@media screen and (max-width: 600px) {
  #upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 60px;
}

@media screen and (max-width: 600px) {
  #lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landscape-item {
  margin-left: 10px;
  margin-right: 10px;
  height: 450px;
  width: 450px;
}

@media screen and (max-width: 600px) {
  .landscape-item {
    height: 375px;
    width: 500px;
    margin: 10px;
  }
}

.portrait-item {
  margin-left: 10px;
  margin-right: 10px;
  height: 450px;
  width: 450px;
}

@media screen and (max-width: 600px) {
  .portrait-item {
    height: 500px;
    width: 375px;
    margin: 10px;
  }
}

.landscape-img {
  height: 300px;
  width: 400px;
}

.portrait-img {
  height: 400px;
  width: 300px;
}

/* footer section */
footer {
  height: 400px;
  width: 100%;
  background-color: #101010;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h4 {
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  footer p {
    margin: 0em 8em;
    text-align: center;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* fonts  */
h1 {
  font-family: "Unica One", sans-serif;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 10px;
}

h2 {
  font-family: "Gesta";
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 1.6;
}

h3 {
  font-family: "Gesta";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6;
}

h4 {
  font-family: "Gesta";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 1.6;
}

h5 {
  font-family: "Gesta";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6;
}

/* icons/logos/buttons */
.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
}

.icon:hover {
  opacity: 0.7;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 10px;
  width: 250px;
  height: 50px;
  font-family: "Gesta";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.6;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: #F6E8C6;
  border: 2px solid #F6E8C6;
}

.pink-button {
  background-color: #EEAE9E;
  border: #EEAE9E;
  color: black;
}

.pink-button:hover {
  border: 2px solid #F6E8C6;
  color: black;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  font-size: 14px;
}

.video {
  text-align: center;
  margin: 5px;
}

.come-in {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: come-in 1s ease forwards;
          animation: come-in 1s ease forwards;
}

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes come-in {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */